<div class="principal">

  <div class="cabecalho">
    <ca-cabecalho [desabilitado]="false" [titulo]="tituloCabecalho" (novoEventoAbrir)="novoPedido()">
    </ca-cabecalho>
  </div>

  <div class="container-esquerdo">
    <ca-filtros [titulo]="titulo" [(nomeCliente)]="filtroNomeCliente" [nomeCliente]="filtroNomeCliente"
      [(notaFiscal)]="filtroNumeroNotaFiscal" [notaFiscal]="filtroNumeroNotaFiscal" [(sort)]="sort" [sort]="sort"
      [(filtroPorData)]="filtrarPorData" [filtroPorData]="filtrarPorData" [(documentoCliente)]="filtroDocumentoCliente"
      [documentoCliente]="filtroDocumentoCliente" [(numeroCTR)]="filtroNumeroCTR" [numeroCTR]="filtroNumeroCTR"
      [(dataInicio)]="filtroDataInicio" [dataInicio]="filtroDataInicio" [(dataFim)]="filtroDataFim"
      [dataFim]="filtroDataFim" (filtrar)="aplicandoFiltros()"
      [isAdmin]="this.usuarioDecodificado.role == 'Cliente' ? false : true">
    </ca-filtros>
  </div>

  <div class="container-direito">

    <div *ngIf="dataSource.data;else elseTemplate">
      <ca-caixa-de-pedido [isAdmin]="this.usuarioDecodificado.role == 'Cliente' ? false : true"
        *ngFor="let data of dataSource.data" [pedidoVisualizar]="data" (editar)="editarPedido(data)"
        (gerenciarPedido)="gerenciarPedido(data)" (excluir)="excluirPedido(data)">
      </ca-caixa-de-pedido>
    </div>

    <ng-container *ngIf="dataSource.totalCount > 0">

      <mat-paginator [length]="dataSource.totalCount" [pageSize]="dataSource.pageSize"
        [pageIndex]="dataSource.pageIndex" [pageSizeOptions]="[5, 10, 25, 100]" (page)="mudarPagina($event)"
        aria-label="Selecione uma página" fixed>
      </mat-paginator>

    </ng-container>

  </div>

</div>

<ng-template #elseTemplate>
  <mat-spinner [color]="color" value="indeterminate"></mat-spinner>
</ng-template>
