<img id="clouddata" src="assets/clouddata.png" alt="" srcset="" />

<div class="container-out">
  <img src="assets/cacambex.jpeg" />
  <div class="container-in">
    <form class="container-in" mat-elevation-z3>
      <h1>Confira seu email</h1>
      <mat-icon color="success"> check_circle_outline </mat-icon>
      <span>
        Um e-mail foi enviado para você. Confira sua caixa de entrada, enviamos
        as intruções de definição de senha.
      </span>
      <a class="btn-primario" routerLink="/identidade-acesso" mat-raised-button
        >Voltar</a
      >
    </form>
  </div>
</div>
