#clouddata {
  position: fixed;
  bottom: 30px;
  width: 100px;
  left: 40px;
}
.principal {
  display: flex;
  flex-direction: column;
  padding: 20px 0px 10px 0px;
}
.cabecalho img {
  width: 350px;
}
.cabecalho{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cabecalho span{
  font-size: x-large;
}
form{
  padding: 20px;
}
.acoes {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 20px;
}
.acoes button {
  width: 100px;
}
mat-form-field{
  font-size: 18px;
}
.linha-senhas {
  display: flex;
  gap: 20px;
}
.input-menor {
  width: 250px;
}
