<div class="principal">
    <div class="conteudo">
      <ca-cabecalho
      [titulo]="titulo"
      [mostrarBotao]="botaoNovo"
      ></ca-cabecalho>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z3">
            <ng-container matColumnDef="logradouro">
              <th mat-header-cell *matHeaderCellDef> Logradouro </th>
              <td mat-cell *matCellDef="let element"> {{element.logradouro}} </td>
            </ng-container>

            <ng-container matColumnDef="numero">
              <th mat-header-cell *matHeaderCellDef> Numero </th>
              <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
            </ng-container>

            <ng-container matColumnDef="complemento">
              <th mat-header-cell *matHeaderCellDef> Complemento </th>
              <td mat-cell *matCellDef="let element"> {{element.complemento}} </td>
            </ng-container>

            <ng-container matColumnDef="bairro">
                <th mat-header-cell *matHeaderCellDef> Bairro </th>
                <td mat-cell *matCellDef="let element"> {{element.bairro}} </td>
            </ng-container>

            <ng-container matColumnDef="cidade">
                <th mat-header-cell *matHeaderCellDef> Cidade </th>
                <td mat-cell *matCellDef="let element"> {{element.cidade}} </td>
            </ng-container>

            <ng-container matColumnDef="uf">
                <th mat-header-cell *matHeaderCellDef> UF </th>
                <td mat-cell *matCellDef="let element"> {{element.uf}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoEndereco">
              <th mat-header-cell *matHeaderCellDef> Tipo endereço </th>
              <td mat-cell *matCellDef="let element"> {{element.tipoEndereco == 0 ? "Cobrança" : "Entrega"}} </td>
            </ng-container>

            <ng-container matColumnDef="acao">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button class="selecionar" type="button" [mat-dialog-close]="element">Selecionar</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-dialog-actions></mat-dialog-actions>
    </div>
</div>
