<div class="toolbar mat-elevation-z3">
  <button mat-icon-button (click)="toggleMenu.emit()">
    <mat-icon color="waiting">menu</mat-icon>
  </button>
  <div class="spacer"></div>

  <!-- (falta implementar parte lógica) <div class="search">
    <mat-icon class="icon-search">search</mat-icon>
    <input
      type="text"
      name=""
      id=""
      placeholder="Search..."
      style="border: 1px"
    />
  </div> -->

  <!-- (falta implementar parte lógica) <a class="logo">
    <img src="assets/pedro.jpg" alt="" srcset="" />
  </a> -->
<button  mat-icon-button [matMenuTriggerFor]="menu" *ngIf="usuario.role === 'Administrador' && notificacaoQuantidade>0" >
  <mat-icon [matBadge]="notificacaoQuantidade" matBadgeColor="warn">notifications</mat-icon>
</button>
<mat-menu #menu="matMenu" >
  <div *ngFor="let notif of notificacaoPedido">
    <button mat-menu-item (click)="goToPedido(notif.id)">Pedido {{notif.id}}</button>
    </div>
</mat-menu>
  
  <div class="iniciais-do-usuario mat-elevation-z3" style="margin-left: 15px;">
    <span [matTooltip]="usuario.email">
      {{usuario.name | slice : 0: 2}}
    </span>
  </div>

  <a class="text">{{usuario.role}}</a>
  <button mat-icon-button matTooltip="Sair" (click)="sair()">
    <mat-icon>logout</mat-icon>
  </button>
</div>
